version: '3.8'

services:
  app-backend:
    build: .
    container_name: projekt-backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/database
    depends_on:
      db:
        
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: projekt-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d database"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data: